
<table class="container">
	<thead>
		<th>
			<td>image</td>
			<td>Films</td>
			<td>Réalisé par</td>
			<td>Date de sortie</td>
		</th>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>